.form {
  max-width: 385px;
}

.form__label {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.form__fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.form__input {
  display: block;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  margin: 8px 0 32px;
  border: 1px solid #838383;
  border-radius: 4px;
  color: #000;
  min-height: 60px;
}

.form__button {
  width: 100%;
  border: none;
  padding: 20px 0;
  border-radius: 4px;
  margin-bottom: 32px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #fff;
  background-color: #1878dc;
  cursor: pointer;
  transition: background-color 0.5s;
}

.form__button:hover {
  background-color: #3f96f3;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
}

.form__label_type_checkbox {
  display: flex;
  gap: 12px;
  justify-content: center;
  align-items: center;
}

.form__label::placeholder {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #838383;
}
