.recipes {
  color: #fff;
  background-color: #0a2750;
  background-image: url(../images/background_recipes.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  max-width: 580px;
}

.recipes__subtitle {
  margin: 0 0 80px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 480px;
}

.recipes__videos {
  margin-top: 24px;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
}

.recipes__video-caption {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin: 24px 0 0;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: 0;
}

.recipes__video-caption {
  display: flex;
  justify-content: space-between;
}
